.row.row--a
  .cell
    = partial "shared/navigation"
  .cell.well
    .g
      .g-b.g-b--m--1of2
        %h1 Guides
      .g-b.g-b--m--1of2
        %p.mbl.mts= lorem.sentences 4

.hero.hero--guides
  -# %canvas#hero-drapes
  - sitemap.resources.select{|g| g.data.type == "guide"}.each_with_index do |guide, index|
    - if index == 0
      .cell.cell--s
        .bucket.bucket--flag
          .bucket-media
            = link_to guide.url do
              = image_tag("http://static.mailchimp.com/web/guides/how-to-avoid-spam-filters/images/cover.jpg")
          .bucket-content
            %h4 Featured Guide
            %h3= link_to guide.data.title, guide.url
            %p= guide.data.description
            %hr.rule.rule--inverted
            = link_to "Read this Guide", guide.url
  %canvas.mountains

.row
  .cell.well
    - sitemap.resources.select{|g| g.data.type == "guide"}.each_with_index do |guide, index|
      - if index > 0
        .card.card--full.card--guides
          = link_to guide.url do
            .card-image{style: "background-image: url(#{image_path 'placeholder.jpg'})"}
          .card-content
            %h4= link_to guide.data.title, guide.url
            %p Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            %hr.rule
            = link_to "Read this Guide", guide.url
