.navigation
  = link_to "", "/", class: "navigation-logo"
  = link_to "&#x2630;", "#", id: "navigation-mobile"
  .navigation-overlay
  %nav.navigation-links
    = link_to "Blog", "/blog/index.html"
    = link_to "Guides", "/guides/index.html"
    = link_to "Join the Movement", "/join/index.html", class: "btn"
    = link_to "Close", "#", id: "navigation-close"
