.row.row--a
  .cell
    = partial "shared/navigation"
  .cell.well
    .g
      .g-b.g-b--m--1of2
        %h1 Stories
      .g-b.g-b--m--1of2
        %p.mts= lorem.sentences 4

.hero.hero--stories
  %canvas#hero-drapes
  .cell
    .hero-content
      - sitemap.resources.select{|g| g.data.type == "story"}.each_with_index do |story, index|
        - if index == 0
          %h4 Featured Story
          %h3= link_to story.data.title, story.url
          %p= story.data.description
  %canvas#hero-mountains

.row
  .cell.well
    - sitemap.resources.select{|g| g.data.type == "story"}.each_with_index do |story, index|
      - if index > 0
        .card.card--full.card--stories
          = link_to story.url do
            .card-image{style: "background-image: url(#{image_path 'placeholder.jpg'})"}
          .card-content
            %h4= link_to story.data.title, story.url
            %p Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            %hr.rule
            = link_to "Read this Story", story.url
