.hero.hero--home
  .cell
    = partial "shared/navigation"
    .hero-content
      %h1
        %span Be The
        %span Church
        %span Everywhere
        %span Everyday
      %p Aenean eu leo quam ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam ornare sem lacinia.
  %canvas.mountains

.row
  .cell.well
    .g
      .g-b.g-b--m--1of2
        .card
          .card-image{style: "background-image: url(#{image_path 'placeholder.jpg'})"}
          .card-content
            %h4 Stories
            %p Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            %hr.rule
            = link_to "See the Stories", "stories/index.html"
      .g-b.g-b--m--1of2
        .card
          .card-image{style: "background-image: url(#{image_path 'placeholder.jpg'})"}
          .card-content
            %h4 Guides
            %p Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            %hr.rule
            = link_to "Read the Guides", "guides/index.html"
